.main-h1 {
  text-align: center;
  margin: 0;
}
.home-page {
  background-image: url("../images/homepage.jpg");
  height: 750px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: rgb(27, 34, 39);
}
