.nav-bar{
    height: 50px;
    padding: 0 15px;
    background-color: #323232;
    color: #ffac41;
    justify-content: space-between;
    align-items: center;

    .log{
        justify-content: space-between;
        width: 150px;
        @media (max-width: $small-screen){
            width: 120px;
        }
    }
    
    
}
.nav-bar a{
    color: #ffac41;
        text-decoration: none;
}
.navdiv-s{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.navdiv-s:hover,.nav-bar a:hover{
    color:black ;  
}
.signup{
   
    cursor: pointer;
}
.login{
    
    cursor: pointer;
}
.hide {
    display: none;
}



@media (max-width: $medium-screen){
    .navdiv-s{
        font-size: 1.1rem;
       

    }
}

@media (max-width: $small-screen){

    .navdiv-s{
        font-size: 1rem;
        
    }
   
}
